.next/
node_modules/
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs/

**/bin/
**/obj/
.vs/
*.user
*.suo

.env
.env.*.local
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Docker.json

# Ignore all .md files in root directory except README.md
/*.md
!README.md