version: '3.8'

services:
  backend:
    build: ./backend
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    depends_on:
      - postgres
    ports:
      - "5249:5249"
  
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"

  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=talentverse_db
    command: >
      postgres 
      -c listen_addresses='*'
      -c max_connections=100
    volumes: 
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: